article class=@post.category id=@post.category
  header.article-header
    h1
      = to_string(@post.title)
    .category
      a href="/categories/#{@category.slug}"
        = @category.name
    time
      = @post.timestamp_s

  .content
    = raw format(@post.content)

  = if @category.slug == "cache"  do
    .licence
      span Ce texte a été archivé afin d'assurer sa pérennité. Il peut être retiré sur simple demande
      a href="mailto:nicolas@bokay.io" email

  = if !Enum.any?(["cache","ego"],&(@category.slug==&1)) do
    .licence
      span Licence &nbsp;
      a href="http://creativecommons.org/licenses/by-sa/4.0/"
        | CC BY-SA 4.0
