article{
  margin-bottom: 1em;
  max-width: 50em;
  width: 100%;
  vertical-align: top;
  display: inline-block !important;
  text-align: left;

  @media screen and (min-width: 60em) {
      margin-top: 1em;
  }


  header {
      width: 100%;
      max-width: 100%;
      display: block;
      padding: 0.5rem;

      .stream--date {
        text-align: right;
      }
  }

  .article-header {
      padding-left: 1em;
      text-align: center;
      @media screen and (min-width: 450px) {
	  padding-left: 2em;
      }
  }

  h1{
    font-size: 3em;
    line-height: 3rem;
    margin-top: 1em;
  }

  h2, h3 {
    text-align: left;
    padding-left: 1rem;
  }

  .content{
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: black;
    padding: 1em;
    @media screen and (min-width: 450px) {
        padding: 2em;
    }
  }

  .delimitation{
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
    padding: 3px 0 5px 0 !important;
  }

  code {
    color: #900;
    font-size: 0.8rem;
    font-family: Menlo, Monaco, sans-serif;
    padding: 0.5em 1rem !important;
  }


  li {
    margin-left: 1em !important;
    font-weight: 300;
    &:before {
        content: '\2013  ';
    }
  }

  p, h3, hr {
    margin-top: 1em;
  }

  ul {
    margin: 0;
    margin-left: 1rem !important;
  }

  .licence {
    margin-top: 3em;
    background: #e9e9e9;
    padding: 1em;
  }


  blockquote {
    background-color: #EFEDE6;
    max-width: 30em;
    margin: 1em auto;
    padding: 1em;
    font-weight: 100;
    cite {
        display: block;
        margin-top: 0.6em;
    }
  }


  time {
    width: 7em !important;
  }

  iframe {
    margin: auto;
    display: block;
  }
}

article.artisan-developpeur,
article.citoyen{
  background-color: white;
}

.actions li {
 font-size: 0.8rem;
}

article iframe{
  max-width: 100%;
}

#table-of-contents {
    float: right;
    font-size: 0.5rem !important;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
    margin-left: 2rem;

    h2 {
        font-size: 1rem
    }

    li {
        font-size: 0.9rem;
        list-style: none;
        z-index: 1000;
    }

    li::before {
        content: '';
    }
}


article#ego p{
    font-family: georgia, times;
}
