$break: 55em;
$lightblue: rgb(236, 246, 250);

article, time, aside, figure, footer, header, hgroup, menu, nav, section {
  display:block;
  margin: 0;
}

h1 {
  color: #222;
}

h2 {
  color: #333;
  padding: 0.6em 0 0;
  line-height: 1.2em;
  font-size: 1.4rem;
}

h3 {
    font-weight: 200;
    border-bottom: 1px solid;
    display: inline-block;
}

p {
  font-weight: 300;
  line-height: 1.2em;
  padding: 0.5rem;
  max-width: 40em !important;
  text-align: left;
  display: inline-block;
}

html{
  height: 100%;
  padding: 0 !important;
  color: #999999;
  background-color: #eee;
  font-size: 12px;
}

body{
  color: #222;
  text-align: left;
  word-wrap: break-word;
  margin: 0;
  height: 100%;
  font-family: Menlo, Monaco, sans-serif;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed;
  color: #000a75;
}

a:visited {
    color: #000a75;
}

a:active, a:hover {
    color: #000a75;
}

a:active, a:hover {
    text-decoration: none !important;
    border-bottom: 1px solid;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

:lang(en) > q, q[lang='en'] { quotes: '\201C' '\201D' '\2018' '\2019'; }
:lang(fr) > q, q[lang='fr'] { quotes: '« ' ' »'; }

blockquote cite::before { content: '\2014  '}

cite {
        font-family: "PT", Arial;
}

header {
    @media screen and (min-width: 950px) {
        text-align: center;
        display: inline-block;
        width: 20%;
        vertical-align: top;
        max-width: 5em;
    }

    h1 {
        font-weight: 400;
        margin: 1em;
    }
}

figure {
  text-align: center;
  padding-top: 2em;
  max-width: 100%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  img {
    padding: 0px;
    display: inline-block;
    margin: 0px;
    width: 100%;
  }

  figcaption {
    font-size: 0.7rem;
    line-height: 4em
  }
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
ul {
  padding: 1rem;
}


footer {
  width: 100%;
  border: #222;
}

.subscribe_feed {
  padding: 0.2em 1em;
  z-index: 100;
}
.subscribe_feed a {
  padding-left: 0.5em;
  color: blue;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bg--white {
  background-color: white;
}

.blogposts_index {
  padding:1em;
}

.fn {
  display: block;
  margin: 10px;
  line-height: 1.4em;
  font-size: 2.3em;
}

.description {
  display: inline-block;
}

.posts-index {
  line-height: 1.5em;
  font-size: 1em;
}

.year {
  font-size: 2em;
  margin-top: 4%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  width: 100%;
  border-bottom: solid #666 1px;
  color: #666;
}

.article-title {
  display: inline;
}

.article-title:before {
  content: attr(data-arrow);
}

time {
  display: inline-block;
  width: 5em;
}

a:hover,a:focus{
  text-decoration: none;
}

.main_container {
    @media screen and (min-width: 950px) {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        height: 100%;
    }
}

.strike {
  text-decoration: line-through
}

.anchor {
    display: block;
}
