.homepage-container {
  position: relative;
  height: 100%;
  text-align: left;
}

.homepage {
  flex: none;
  padding: 1em;
  margin: auto;
  display: inline-block;
  max-width: 100%;
  @media screen and (min-width: 550px) {
    max-width: 40em;
  }

  h1 {
    font-size: large;
    font-style: italic;
    margin-bottom: 1em;
    @media screen and (min-width: 450px) {
      font-size: xx-large;
    }
    @media screen and (min-width: 550px) {
      text-align: left;
    }
  }

  ul {
    padding: 0
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

.homepage-introduction {
  text-align: left;
  font-size: medium;
  line-height: 1.9em;
  @media screen and (min-width: 450px) {
    font-size: x-large;
  }
}

.homepage-introduction a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.homepage-links, .homepage-feeds {
  margin-top: 2em;
}
