$size_item: 100% / 5;
.menu {
  a, a:visited {
    color: #222;
    text-decoration: none;
  }
  a:hover {
    color: rgb(117, 79, 0);
    text-decoration: underline;
  }
  text-align: right;
  @media screen and (min-width: 950px) {
      padding: 1em;
      position: fixed;
      text-align: center;
      width: 15rem;
      z-index: 100;
      right: 0;
  }

  .menu_selected {
    color: rgb(117, 79, 0);
  }

  .menu_item {
      display: inline-block;
      vertical-align: middle;
      font-weight: 400;
      margin-bottom: 0.5em;
      font-size: 1.2em;
      padding: 0;
      padding-right: 1rem;
      @media screen and (min-width: 950px) {
          width: 100%;
          text-align: right;
      }
  }


  .menu_item--top::before {
      content: '\2191';
      margin-right: 0.5em;
      color: white;
      line-height: 1em;
      display: inline-block;
      vertical-align: top;
  }

  .menu_avatar {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 5px;
      margin-bottom: 1em;
      @media screen and (max-height: 30em) {
          position: relative;
          display: block;
      }
  }

  .menu_legend {
      font-size: 0.6rem;
      color: rgb(117, 79, 0);
  }
}
