.stream {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0em;
  @media screen and (min-width: 60em) {
    padding: 1em;
    display: table;
    padding: 0em;
  }
}

.stream--note {
  padding: 1.6em 1em;
}

.stream--large_note {
  padding: 1em;
  margin-top: 3em;
  @media screen and (min-width: 60em) {
      padding: 0;
      margin-top: 0;
      text-align: center
  }
  article {
    margin-top: 0;
  }
}

.stream--icon {
  padding-left: 1em;
  display: inline;
  display: table-cell;
}

.stream--title {
  display: inline;
  padding-left: 1em;
  font-family: helvetica, arial;
  font-weight: 500;
  display: table-cell;
  a {display: inline;}
}

.stream--date {
  float: right;
}

.stream_item--two_per_row {
  padding: 1em;
  border-left: 4px solid #ccc;
  margin-top: 1em;
  vertical-align: top;
  @media screen and (min-width: $break) {
    width: 45%;
    display: inline-block;
    margin-left: 1em;
  }

  h2 {
      font-weight: 100 !important;
  }
}

.stream_item--one_per_row {
  padding: 1em;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  text-align: center;
  max-width: 30em;
}

.stream--content {
    margin: auto;
}

.stream article {
    max-width: 50rem !important;
    margin: auto;
    margin: 0;

    margin: 2rem;
    border: 0.5px solid #ccc;
    padding: 1rem !important;
    background: #f2f2f2;
}

.stream--seperated {
  padding-right: 15em;
  @media screen and (max-width: $break) {
    padding-right: 1em;
  }
}

.identity .tab_carnet .stream--date {
  @media screen and (min-width: 60em) {
    display: none;
  }
}

.identity .tab_carnet li {
  @media screen and (min-width: 60em) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
