.tabs {
  height: 100%;
  @media screen and (min-width: 950px) {
    max-height: 100%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.tab {
  width: 100%;
  display: inline-block;
  top: 0;
  position: absolute;
  left: 0;
  @media screen and (min-width: 950px) {
    position: relative;
    width: 50%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    vertical-align: top;
    height: 100%;
    max-height: 100%;
  }
}

.tab label[for='tab-1'] {
  left: 0%;
  @media screen and (min-width: 950px) {
    left: 5em;
  }
}
.tab label[for='tab-2'] {
    @media screen and (max-width: 950px) {
        right: 0;
    }
}

.tab label {
  padding: 1em;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 100;
  cursor: pointer;
  height: 4em;
  font-family: helvetica, arial;
  text-transform: uppercase;
  @media screen and (min-width: 950px) {
      display: none;
  }
}

input[type=radio] ~ label {
    color: #222;
    border-bottom: 2px dashed rgba(164, 114, 12, 0.8);
}

input[type=radio]:checked ~ label {
    color: rgb(117, 79, 0);
    border-bottom: none;
}

.tab [type=radio] {
  display: none;
}

.tabs .content {
  @media screen and (max-width: 950px) {
    padding-top: 1em;
  }
}

input[type=radio]:checked  ~ .content {
  max-width: 100%;
  width: 100%;
  display: none;
  @media screen and (min-width: 950px) {
    display: inline-block;;
  }
}
.tab article {
  border: none;
}

.tab .stream {
    margin-top: 0;
}

.tab_journal .stream--title {
    border: none;
    font-size: 4rem;
    text-align: left;
    a {color: #333}
    margin-bottom: 3rem;
    display: block;
    width: 100%;
    padding-left: 0;
    @media screen and (min-width: 950px) {
        padding-left: 1rem;
        max-width: 30rem;
    }
}

.tab_journal .stream--note {
}

.tab_carnet {
  @media screen and (min-width: 950px) {
    width: 20%;

    .content {
        padding-top: 1rem;
    }
    .stream--note {
        width: 100%
    }
    .stream--title {
        display: inline-block;
        width: 100%

    }

    .subscribe_feed {
        text-align: center;
    }
  }

  .content li {
    margin-bottom: 1rem;
  }
}

.tab_journal {
  article {
    max-width: 50rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media screen and (min-width: 950px) {
    padding-right: 15em;
    width: 80%;
  }
}

.tabs .subscribe_feed {
  @media screen and (max-width: 950px) {
      margin-top: 4em;
  }
}
