doctype html
html
  head
    title = "Bokay.io"
    meta charset="utf-8"
    meta content="text/html;charset=UTF-8" http-equiv="Content-type"
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content="Bokay Weblog"
    meta name="author" content="Nicolas Charlery"
    link rel="shortcut icon" type="image/png" href="/favicon.ico?v=2"
    meta content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport"
    link rel="stylesheet" href=Routes.static_path(@conn,"/css/app.css")
    link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"
    link href="/categories/ego/posts.atom" rel="alternate" type="application/atom+xml"
    link href="/categories/dev/posts.atom" rel="alternate" type="application/atom+xml"
    link href="/categories/snippet/posts.atom" rel="alternate" type="application/atom+xml"

  body
    header
      ul.menu
        li.menu_item
          a href=Routes.page_path(@conn,:index)
            span class=menu_selected(@conn,:home)
              | Home
        li.menu_item
          a href=Routes.category_path(@conn,:index,:ego)
            span class=menu_selected(@conn,:ego)
              | Log
        li.menu_item
          a href=Routes.category_path(@conn,:index,:dev)
            span class=menu_selected(@conn,:dev)
              | Dev Log
        li.menu_item
          a href=Routes.category_path(@conn,:index,:til)
            span class=menu_selected(@conn,:toolbox)
              | Toolbox
        li.menu_item
          a href=Routes.page_path(@conn,:now)
            span class=menu_selected(@conn,:now)
              | Now

    .main_container
      = @inner_content

    script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
    script hljs.initHighlightingOnLoad()
    script src=Routes.static_path(@conn,"/js/app.js")
    a rel="me" href="https://mamot.fr/@bokay" style="display: none;"
      | Mastodon
