.homepage
  h1 A propos

  p
  div
    |Je m'appelle Nicolas Charlery.

  br
  div
    | J'apprends la vie au quotidien, un pas après l'autre.

  br
  div
    | #Green #bio #human #languages #Martinique #FreeSoftware #wood #bike #yolo #hack #coding #emacs


  br
  div
    |Ce site est hébergé chez Digital Ocean, sur une instance FreeBSD située à Toronto et
    a<> href="http://git.bokay.io/bokay/carnet"
      | écrit par mes soins
    | en Ruby/Sinatra.
