.homepage-container
  .homepage
    h1 « Bel bonjou »
    .homepage-introduction
      span
        | Bienvenue en ce lieu, qui a pour vocation de recueillir mes réflexions
        a<> href=Routes.category_path(@conn,:index,"dev")
          | professionnelles
        | ou
        a<> href=Routes.category_path(@conn,:index,"ego")
          | personnelles
        | ainsi que mes
        a<> href=Routes.category_path(@conn,:index,"til")
          | bouts de code
        |. Un journal de bord, un
        a< href=Routes.category_path(@conn,:index,"ego")
          | carnet web de mes aventures
        |, un lieu personnel, où j'y laisse allègrement quelques traces numériques.

    .homepage-feeds
      h2 Suivre les fils de publications
      div Vous pouvez suivre les fils atoms suivants:
      ul
        li
          a href=Routes.category_path(@conn,:atom,"ego")
            | Journal
        li
          a href=Routes.category_path(@conn,:atom,"dev")
            | Artisan-développeur
        li
          a href=Routes.category_path(@conn,:atom,"til")
            | Bouts de code


    .homepage-links
      h2 Tissons des liens
      div
        |Vous pouvez me contacter par
        a<> href="mailto:nicolas%40bokay.io"
          | email
        | ou sur
        a< href="http://twitter.com/nicocharlery" rel="me"
          | Twitter
        |.
