.homepage
  h2 Now

  p
    | I'm currently a doing software development at
    a< href="http://civilcode.io/"
     | Civilcode
    |.
  p
    | I've moved in 2014 to Canada, in the city of Montreal, with my life for its zeitgest.
    | We're in the process of becoming true canadians.
