.identity
  .tabs
    .tab.tab_carnet
      input type="radio" id="tab-2" name="tab-group-1"
      label for="tab-1"
        |Toutes les notes
      .content
        .subscribe_feed
          span.octicon.octicon-rss
          a href=Routes.category_path(@conn,:atom,@category.slug)
            |Suivre mes billets d'artisan-développeur

        ul itemscope=true itemtype="http://schema.org/Blog"
          = for {year, posts} <- @posts_by_year do
            .year = year
            = for post <- posts do
              li
                .posts-index itemprop="blogPost" itemscope=true itemtype="http://schema.org/BlogPosting"
                  .article-title
                    a.js-remote-link href="/categories/#{@category.slug}/posts/#{post.timestamp_s}/#{post.slug}" data-url="/api/categories/#{@category.slug}/posts/#{post.timestamp_s}/#{post.slug}"
                      = to_string(post.title)

    .tab.tab_journal
      input type="radio" id="tab-1" name="tab-group-1" checked=true
      label for="tab-2"
        |Dernière note
      .content
        ul.stream itemscope=true itemtype="http://schema.org/Blog"
          = for post <- first_post_as_list(@posts_by_year) do
            li.stream--note.stream--large_note itemprop="blogPost" itemscope=true itemtype="http://schema.org/BlogPosting"
              article#ego
                header
                  .stream--date#js-pl-date
                    a href="/categories/dev/posts/#{post.timestamp_s}/#{post.slug}"
                      = post.timestamp_s
                  .stream--title#js-pl-title
                    a href="/categories/dev/posts/#{post.timestamp_s}/#{post.slug}"
                        h4
                        = to_string(post.title)
                .stream--content#js-pl-content
                    = raw(format(post.content))
