.identity
  .tabs
    .tab.tab_carnet
      input type="radio" id="tab-2" name="tab-group-1"
      label for="tab-1"
        |Toutes les notes
      .content
        .subscribe_feed
          span.octicon.octicon-rss
          a href="/categories/#{@category.slug}/posts.atom" type="application/atom+xml"
            |Suivre mon carnet de notes
        ul.stream itemscope=true itemtype="http://schema.org/Blog"
          = for post <- @posts do
            li.stream--note itemprop="blogPost" itemscope=true itemtype="http://schema.org/BlogPosting"
              .stream--date = post.timestamp_s
              .stream--title
                a.js-remote-link href="/categories/#{@category.slug}/posts/#{post.timestamp_s}/#{post.slug}" data-url="/api/categories/#{@category.slug}/posts/#{post.timestamp_s}/#{post.slug}"
                  = to_string(post.title)

    .tab.tab_journal
      input type="radio" id="tab-1" name="tab-group-1" checked=true
      label for="tab-2"
        |Dernière note
      .content
        ul.stream itemscope=true itemtype="http://schema.org/Blog"
          = for post <- List.wrap(List.first(@posts)) do
            li.stream--note.stream--large_note itemprop="blogPost" itemscope=true itemtype="http://schema.org/BlogPosting"
              article#ego
                header
                  .stream--date#js-pl-date
                    a href="/categories/ego/posts/#{post.timestamp_s}/#{post.slug}"
                      = post.timestamp_s
                  .stream--title#js-pl-title
                    a href="/categories/ego/posts/#{post.timestamp_s}/#{post.slug}"
                        h4
                        = to_string(post.title)
                .stream--content#js-pl-content
                    = raw(format(post.content))
