.snippet
  .subscribe_feed
    span.octicon.octicon-rss
    a href="categories/#{@category.slug}/posts.atom"
      |Suivre mes bouts de code

  ul.stream--seperated itemscope=true itemtype="http://schema.org/Blog"
    = for post <- @posts do
      li.stream_item--two_per_row.bg--white itemprop="blogPost" itemscope=true itemtype="http://schema.org/BlogPosting"
        .date
          = post.timestamp_s
        .delimitation
        h2
          a href="/categories/#{@category.slug}/posts/#{post.timestamp_s}/#{post.slug}"
            =post.title
        / span = post.joined_topics
